<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


    <link rel="stylesheet" href="../../lib/css/content.css">
</head>
<body>

<div class="header">
    <div class="all_nav">
        <div class="header_nav_wrap">
             <span class="icon"></span>
            <h1 class="logo"><a href="#">DaehanStell</a></h1>
                <div class="len">
                    <ul>
                        <li><a href="#">KR</a></li>
                        <li><a href="#">EN</a></li>
                    </ul>
                </div>
            
                <ul class="b_manu">
                    <li>
                        <a href="#">About Us</a>
                            <ul class="s_manu">
                                <li><a href="#">History</a></li>
                                <li><a href="#">Networks</a></li>
                                <li><a href="#">IR</a></li>
                                <li><a href="#">CI</a></li>
                            </ul>
                    </li>
                    <li>
                        <a href="#">Business</a>
                             <ul class="s_manu">
                                <li><a href="#">Steel Library</a></li>
                                <li><a href="#">Product</a></li>
                                <li><a href="#">Sustainability</a></li>
                           </ul>   
                    </li>
                    <li>
                        <a href="#">People</a>
                            <ul class="s_manu">
                                <li><a href="#">CEO</a></li>
                                <li><a href="#">Persona</a></li>
                                <li><a href="#">Life</a></li>
                                <li><a href="#">Recruit</a></li>
                            </ul>
                    </li>
                </ul>
        </div>
        
        <div class="right_manu">
           <span class="icon"></span>
            <a href="#">
                <img src="../../lib/img/nv_frameworks.gif" alt="frameworks" />
            </a>
        </div>
       
        <div class="bottom_manu_wrap">
            <span><img src="../../lib/img/nv_symbol_1.jpg" alt="" /></span>
            <span><img src="../../lib/img/nv_symbol_2.jpg" alt="" /></span>
            <span><img src="../../lib/img/nv_symbol_3.jpg" alt="" /></span>
        </div>
        
     </div>
     <div class="title_wrap">
         <h2 class="title">Steel Library</h2>
         <a class="prev" href="#">Sustainability</a>
         <a class="next" href="#">Product</a>
     </div>
</div>


<div class="content_line">
    <ul>
        <li class="on"><a href="#">Manufacturing Process</a></li>
        <li><a href="#">Basic Knowledge</a></li>
        <li><a href="#">Terminology</a></li>
    </ul>
</div>
<div class="content">
   
    <div class="con_wrap">
        <div class="top_btn">
            <img src="../../lib/img/btn_topbtn.png" alt="상단으로 올라가는 버튼">
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer_wrap">
        <div class="footer_gnb1">
            <ul class="b_manu">
                <li>
                    <a href="#">About Us</a>
                        <ul class="s_manu">
                            <li><a href="#">History</a></li>
                            <li><a href="#">Networks</a></li>
                            <li><a href="#">IR</a></li>
                            <li><a href="#">CI</a></li>
                        </ul>
                </li>
                <li>
                    <a href="#">Business</a>
                        <ul class="s_manu">
                            <li><a href="#">Steel Library</a></li>
                            <li><a href="#">Product</a></li>
                            <li><a href="#">Sustainability</a></li>
                        </ul>
                </li>
                <li>
                    <a href="#">People</a>
                        <ul class="s_manu">
                            <li><a href="#">CEO</a></li>
                            <li><a href="#">Persona</a></li>
                            <li><a href="#">Life</a></li>
                            <li><a href="#">Recruit</a></li>
                        </ul>
                </li>
                <li>
                    <a href="#">Frameworks</a>
                        <ul class="s_manu">
                            <li><a href="#">Overview</a></li>
                            <li><a href="#">Solution</a></li>
                            <li><a href="#">Case Study</a></li>
                        </ul>
                </li>
            </ul>
        </div>
        
        <div class="footer_gnb2">
            <ul>
                <li><a href="#">찾아오시는 길</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">이용약관</a></li>
            </ul>
            <ul>
                <li><a href="#" target="_blank">개인정보 취급방침</a></li>
                <li><a href="#" target="_blank">이메일 무단 수집 거부</a></li>
             </ul>
             <ul>
                <li><a href="#" target="_blank"><img src="../../lib/img/mark_award.jpg" alt="웹사이트부문 GRAND PRIX수상" /></a></li>
                <li><a href="#" target="_blank"><img src="../../lib/img/mark_award2.jpg" alt="레드닷 디자인어워드 수상" /></a></li>
                <li><a href="#" target="_blank"><img src="../../lib/img/mark_logo2.jpg" alt="국가공인 웹 접근성 품질인증마크_(사)한국시각장애인연합회 (2015.10.08~2016.10.07)" /></a></li>
            </ul>
            <ul>
                <li><a href="#" target="_blank"><em>Brochure</em><img src="../../lib/img/btn_link_view.gif" alt="보기버튼" /></a></li>
                <li><a href="#" target="_blank"><em>Webzine</em><img src="../../lib/img/btn_link_view.gif" alt="보기버튼" /></a></li>
             </ul>
        </div>
        
        <div class="footer_wrap2">
            <div class="footer_gnb3">
                <p class="copyright">Copyright DaehanSteel. All rights reserved.</p>
            </div>
            <div class="footer_gnb4">
                <a href="#">FAMILY SITE</a>
                    <ul class="family">
                        <li><a href="#">e-Transportation</a></li>
                        <li><a href="#">e-Procurement</a></li>
                        <li><a href="#">e-Sales</a></li>
                        <li><a href="#">대한 네트웍스</a></li>
                    </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>
