<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<script type="text/javascript" src="/lib/js/jquery-1.12.1.min.js"></script>
<script type="text/javascript" src="/lib/js/script.js"></script>
</head>
<body>

<!-- header -->
<div class="all_nav">
        <div class="header_nav_wrap">
             <span class="icon"></span>
            <h1 class="logo">
            	<a href="/html/main/main.html">DaehanStell</a>

            </h1>
                <div class="len">
                    <ul>
                        <li><a href="javascript:void(0)">KR</a></li>
                        <li><a href="javascript:void(0)">EN</a></li>
                    </ul>
                </div>

                <ul class="b_manu">
                    <li>
                        <a href="/html/about_us/history/his_2010.html">About Us</a>
                            <ul class="s_manu">
                                <li><a href="/html/about_us/history/his_2010.html">History</a></li>
                                <li><a href="/html/about_us/network/net_do.html">Networks</a></li>
                                <li><a href="/html/about_us/ir/ir_sum2015.html">IR</a></li>
                                <li><a href="/html/about_us/ci/ci.html">CI</a></li>
                            </ul>
                    </li>
                    <li>
                        <a href="/html/business/steel/manufacturing_p.html">Business</a>
                             <ul class="s_manu">
                                <li><a href="/html/business/steel/manufacturing_p.html">Steel Library</a></li>
                                <li><a href="/html/business/product/square_b.html">Product</a></li>
                                <li><a href="/html/business/sustain/manufacturing.html">Sustainability</a></li>
                           </ul>
                    </li>
                    <li>
                        <a href="/html/People/ceo/ceo_greeting.html">People</a>
                            <ul class="s_manu">
                                <li><a href="/html/People/ceo/ceo_greeting.html">CEO</a></li>
                                <li><a href="/html/People/persona/pers_creator.html">Persona</a></li>
                                <li><a href="/html/People/life/life_list.html">Life</a></li>
                                <li><a href="/html/People/recruit/recru_notify.html">Recruit</a></li>
                            </ul>
                    </li>
                </ul>
        </div>

        <div class="right_manu">
           <span class="icon"></span>
            <a class="icon_a"href="/html/frame works/frame_works.html">
                <img src="../../lib/img/nv_frameworks.gif" alt="frameworks" />
            </a>
            <ul>
            	<li><a href="/html/frame works/frame_works.html#ov1">Overview</a></li>
            	<li><a href="/html/frame works/frame_works.html#ov2">Solution</a></li>
            	<li><a href="/html/frame works/frame_works.html#ov3">Case Study</a></li>
            </ul>
        </div>

        <div class="bottom_manu_wrap" style="position:fixed">
            <span><img src="../../lib/img/nv_symbol_1.jpg" alt="" /></span>
            <span><img src="../../lib/img/nv_symbol_2.jpg" alt="" /></span>
            <span><img src="../../lib/img/nv_symbol_3.jpg" alt="" /></span>
        </div>

     </div>


     <!-- title -->
  	 <div class="title_wrap">
         <h2 class="title">Steel Library</h2>
         <a class="prev" href="#">Sustainability</a>
         <a class="next" href="#">Product</a>
     </div>

<!-- footer -->

<div class="footer_wrap">
        <div class="footer_gnb1">
            <ul class="bb_manu">
                <li>
                    <a href="/html/about_us/history/his_2010.html">About Us</a>
                        <ul class="ss_manu">
                            <li><a href="/html/about_us/history/his_2010.html">History</a></li>
                            <li><a href="/html/about_us/network/net_do.html">Networks</a></li>
                            <li><a href="/html/about_us/ir/ir_dis.html">IR</a></li>
                            <li><a href="/html/about_us/ci/ci.html">CI</a></li>
                        </ul>
                </li>
                <li>
                    <a href="/html/business/steel/manufacturing_p.html">Business</a>
                        <ul class="ss_manu">
                            <li><a href="/html/business/product/bar_in.html">Steel Library</a></li>
                            <li><a href="/html/business/steel/basic_k.html">Product</a></li>
                            <li><a href="/html/business/sustain/manufacturing.html">Sustainability</a></li>
                        </ul>
                </li>
                <li>
                    <a href="/html/People/ceo/ceo_greeting.html">People</a>
                        <ul class="ss_manu">
                            <li><a href="/html/People/ceo/ceo_greeting.html">CEO</a></li>
                            <li><a href="/html/People/persona/pers_creator.html">Persona</a></li>
                            <li><a href="/html/People/life/life_list.html">Life</a></li>
                            <li><a href="/html/People/recruit/recru_notify.html">Recruit</a></li>
                        </ul>
                </li>
                <li>
                    <a href="/html/frame works/frame_works.html">Frameworks</a>
                        <ul class="ss_manu">
                            <li><a href="/html/frame works/frame_works.html#ov1">Overview</a></li>
                            <li><a href="/html/frame works/frame_works.html#ov2">Solution</a></li>
                            <li><a href="/html/frame works/frame_works.html#ov3">Case Study</a></li>
                        </ul>
                </li>
            </ul>
        </div>

        <div class="footer_gnb2">
            <ul>
                <li><a href="/html/about_us/network/net_do.html">찾아오시는 길</a></li>
                <li><a href="/html/footer/fnq1.html">FAQ</a></li>
                <li><a href="#" target="_blank"  onclick="window.open('/html/footer/terms.html','대한제강 이용약관','width=743,height=500, menubar=no, status=no, toolbar=no')">이용약관</a></li>
            </ul>
            <ul>
                <li><a href="#" target="_blank"  onclick="window.open('/html/footer/privacy.html','대한제강 개인정보 취급방침','width=743,height=500, menubar=no, status=no, toolbar=no')">개인정보 취급방침</a></li>
                <li><a href="#" target="_blank"  onclick="window.open('/html/footer/email.html','대한제강 이메일 무단 수집 거부','width=743,height=500, menubar=no, status=no, toolbar=no')">이메일 무단 수집 거부</a></li>
             </ul>
             <ul>
                <li><a href="http://www.naward.or.kr" target="_blank"><img src="../../lib/img/mark_award.jpg" alt="웹사이트부문 GRAND PRIX수상" /></a></li>
                <li><a href="http://www.red-dot.org" target="_blank"><img src="../../lib/img/mark_award2.jpg" alt="레드닷 디자인어워드 수상" /></a></li>
                <li><a href="http://www.kwacc.or.kr/WACertificate/WAMark" target="_blank"><img src="../../lib/img/mark_logo2.jpg" alt="국가공인 웹 접근성 품질인증마크_(사)한국시각장애인연합회 (2015.10.08~2016.10.07)" /></a></li>
            </ul>
            <ul>
                <li><a href="javascript:void(0)" target="_blank"><em>Brochure</em><img src="../../lib/img/btn_link_view.gif" alt="보기버튼" /></a></li>
                <li><a href="#" target="_blank"  onclick="window.open('/html/footer/webzine.html','대한제강 웹진','width=743,height=500, menubar=no, status=no, toolbar=no')"><em>Webzine</em><img src="../../lib/img/btn_link_view.gif" alt="보기버튼" /></a></li>
             </ul>
        </div>

        <div class="footer_wrap2">
            <div class="footer_gnb3">
                <p class="copyright">Copyright DaehanSteel. All rights reserved.</p>
            </div>
            <div class="footer_gnb4">
                <a class="cli" href="javascript:void(0)">FAMILY SITE</a>
                    <ul class="family">
                        <li><a target="_blank" href="http://ebiz.idaehan.com/idaehan/sap_etrans/etrans.jsp">e-Transportation</a></li>
                        <li><a target="_blank" href="http://ebiz.idaehan.com/idaehan/sap_eproc/eproc.jsp">e-Procurement</a></li>
                        <li><a target="_blank" href="http://ebiz.idaehan.com/idaehan/sap_ebiz/esale.jsp">e-Sales</a></li>
                        <li><a target="_blank" href="http://www.idhnetworks.com/">대한 네트웍스</a></li>
                    </ul>
            </div>
        </div>
    </div>

<!-- topwing -->

        <div class="top_btn">
            <img src="../../lib/img/btn_topbtn.png" alt="상단으로 올라가는 버튼">
        </div>



</body>
</html>
