<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="/lib/css/common.css" media="all" />
<link rel="stylesheet" href="/lib/css/master.css" media="all" />
<script type="text/javascript" src="/lib/js/jquery-1.12.1.min.js"></script>
<script type="text/javascript" src="/lib/js/script.js"></script>
</head>
<body>

<div class="header">
    
</div>


<div class="content_line">
    <ul>
        <li class="on"><a href="#">Manufacturing Process</a></li>
        <li><a href="#">Basic Knowledge</a></li>
        <li><a href="#">Terminology</a></li>
    </ul>
</div>

<div class="content">
   
    
</div>

<div class="footer"></div>
<div class="top_btn"></div>

</body>
</html>